<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>
    <action id="net.welmers.bast1aan.polkit-sshaskpass">
      <description>polkit-sshaskpass</description>
      <message>$(message)</message>
      <defaults>
        <allow_any>auth_self</allow_any>
        <allow_inactive>auth_self</allow_inactive>
        <allow_active>auth_self</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.owner">unix-user:bastiaan</annotate>
    </action>
</policyconfig>
